<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
  <title>Buscaminas</title>
  <% include templates/head %>
</head>

<body  onload="cargarTablero();">
  <header>
    <% include templates/header %>
  </header>
  <main class="container-fluid">

       

  </main>
  <!--Footer-->
  <footer class="page-footer center-on-small-only">
    <% include templates/footer %>
  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <% include templates/scripts %>
  <!-- BUSCAMNIAS -->
  <script  src="js/juegos/buscaminas.js"></script>
  <!-- /.SCRIPTS -->

</body>
</html>
