<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
  <title>Buscaminas</title>
  <% include templates/head %>

  <!-- CSS BUSCAMINAS -->
  <link href="css/style_buscaminas.css" rel="stylesheet">

<style>
    .ajuste{
       padding-left: 4%;

    }
    .btn {

        background-color: #2c0f62;
    }

</style>
</head>

<body  onload="cargarTablero();">
  <header>
    <% include templates/header %>
  </header>
  <main class="container-fluid">


        <br>
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <h1 class="text-center"><strong>Buscaminas</strong></h1>
  </div>
  </div>

      <div class="row">
             <div class="col-sm-4" align="right" >
                      <button type="button" class="btn btn-primary" onclick="resetTablero();" >Empezar</button>
              </div>
              <div class="col-sm-8  ajuste">
                     <div id="tablerominas" class="tablero"></div>
              </div>
      </div>

  </main>
  <!--Footer-->
  <footer class="page-footer center-on-small-only" style="position: relative; bottom:0px;width:100%;z-index:10">
    <% include templates/footer %>
  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <% include templates/scripts %>
  <!-- BUSCAMNIAS -->
  <script  src="js/juegos/buscaminas.js"></script>
  <!-- /.SCRIPTS -->

</body>
</html>
