<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
  <meta charset="UTF-8">
  <title>Damas</title>
    <% include templates/head %>

    <!-- CSS DAMAS -->
    <link href="css/style_damas.css" rel="stylesheet">
</head>

<body>
  <header>
    <% include templates/header %>
  </header>
  <br>
  <h1 class="text-center"><strong>DAMAS</strong></h1>

  <div id="board"></div>

  <!--Footer-->
  <footer class="page-footer center-on-small-only" style="position: relative; bottom:0px;width:100%;z-index:10">
    <% include templates/footer %>
  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <% include templates/scripts %>

  <!-- Damas -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js'></script>

  <script  src="js/g_damas.js"></script>
  <!-- /.SCRIPTS -->

</body>
</html>
