<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
  <title>Juegos</title>
  <% include templates/head %>
  <!-- Cards -->
  <link href="css/flip-cards.css" rel="stylesheet">

</head>

<body>
  <header>
    <% include templates/header %>
  </header>

  <main>
    <!--Main layout-->
    <div class="container-fluid">
      <!--Page heading-->
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="info-card">
                <div class="front">
                  <img class="card-image" src="img/3_en_rayas_violeta.png">
                </div>
                <div class="back">
                  <h2>3 EN RAYA</h2>
                  <p>Juego de 3 en raya</p>
                  <ul>
                    <li><a href="/g_tresenraya"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=3enraya"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
              <div class="info-card">
                <div class="front">
                  <img class="card-image" src="img/logo_buscaminas.png">
                </div>
                <div class="back">
                  <h2>BUSCAMINAS</h2>
                  <p>Juego de ajedrez</p>
                  <ul>
                    <li><a href="/g_buscaminas"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=buscaminas"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-card-left">
                <div class="front">
                  <img class="card-image" src="img/ajedrez_violeta.png">
                </div>
                <div class="back">
                  <h2>AJEDREZ</h2>
                  <p>Juego de ajedrez</p>
                  <ul>
                    <li><a href="/g_ajedrez"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=ajedrez"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
              <div class="info-card-left">
                <div class="front">
                  <img class="card-image" src="img/damas_violetas.png">
                </div>
                <div class="back">
                  <h2>DAMAS</h2>
                  <p>Juego de damas</p>
                  <ul>
                    <li><a href="/g_damas"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=damas"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- FIN ROW 1 -->
          <br><br>
          <div class="row">
            <div class="col-md-6">
              <div class="info-card">
                <div class="front">
                  <img class="card-image" src="img/logo_articulos.png">
                </div>
                <div class="back">
                  <h2>ARTICULOS</h2>
                  <p>Juego de articulos</p>
                  <ul>
                    <li><a href="/g_articulos"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=articulos"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
              <div class="info-card">
                <div class="front">
                  <img class="card-image" src="img/logo_banderas.png">
                </div>
                <div class="back">
                  <h2>BANDERAS</h2>
                  <p>Juego de banderas</p>
                  <ul>
                    <li><a href="/g_banderas"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=banderas"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-card-left">
                <div class="front">
                  <img class="card-image" src="img/logo_capitales.png">
                </div>
                <div class="back">
                  <h2>CAPITALES</h2>
                  <p>Juego de capitales</p>
                  <ul>
                    <li><a href="/g_capitales"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=capitales"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
              <div class="info-card-left">
                <div class="front">
                  <img class="card-image" src="img/logo_planetas.png">
                </div>
                <div class="back">
                  <h2>PLANETAS</h2>
                  <p>Juego de planetas</p>
                  <ul>
                    <li><a href="/g_planetas"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=planetas"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- FIN ROW 2 -->
          <br><br>
          <div class="row">
            <div class="col-md-6">
              <div class="info-card">
                <div class="front">
                  <img class="card-image" src="img/logo_multiplicar.png">
                </div>
                <div class="back">
                  <h2>MULTIPLICAR</h2>
                  <p>Juego de multiplicacion</p>
                  <ul>
                    <li><a href="/g_multiplicacion"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=multiplicacion"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
              <div class="info-card">
                <div class="front">
                  <img class="card-image" src="img/logo_suma.png">
                </div>
                <div class="back">
                  <h2>SUMA</h2>
                  <p>Juego de suma</p>
                  <ul>
                    <li><a href="/g_suma"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=suma"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-card-left">
                <div class="front">
                  <img class="card-image" src="img/logo_tp.png">
                </div>
                <div class="back">
                  <h2>TABLA PERIODICA</h2>
                  <p>Juego de tabla periódica</p>
                  <ul>
                    <li><a href="/g_tp"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=tp"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
              <div class="info-card-left">
                <div class="front">
                  <img class="card-image" src="img/logo_ingles.png">
                </div>
                <div class="back">
                  <h2>Inglés</h2>
                  <p>Juego de inglés</p>
                  <ul>
                    <li><a href="/g_ingles"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=ingles"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- FIN ROW 3 -->
          <br><br>
          <div class="row">
            <div class="col-md-6">
              <div class="info-card">
                <div class="front">
                  <img class="card-image" src="img/logo_historia.png">
                </div>
                <div class="back">
                  <h2>HISTORIA</h2>
                  <p>Juego de historia</p>
                  <ul>
                    <li><a href="/g_historia"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=historia"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div>
              <!-- <div class="info-card">
                <div class="front">
                  <img class="card-image" src="img/logo_suma.png">
                </div>
                <div class="back">
                  <h2>SUMA</h2>
                  <p>Juego de suma</p>
                  <ul>
                    <li><a href="/g_suma"><i class="fa fa-gamepad"></i> Jugar</a></li>
                    <li><a href="/rankings_global?nombre_juego=suma"><i class="fa fa-bar-chart"></i> Ranking</a></li>
                  </ul>
                </div>
              </div> -->
            </div>
        </div> <!-- FIN ROW 4 -->
      </div>
      <!--/.Page heading-->
    </div>
    <!--/.Main layout-->
  </main>

  <!--Footer-->
  <footer class="page-footer center-on-small-only" style="position: relative; bottom:0px;width:100%;z-index:10">
    <% include templates/footer %>
  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <% include templates/scripts %>

  <!-- cards JavaScript -->
  <script type="text/javascript" src="js/cards.js"></script>

  <!-- /.SCRIPTS -->

</body>

</html>
