<!DOCTYPE html>
<html lang="en" ng-app ="myApp">
<head>
    <title>Challenge&Play</title>
    <% include templates/head %>
    <!-- Material Design Bootstrap -->
    <link href="css/table.css" rel="stylesheet">

    <style type="text/css">
        img { width: 140px; height: 140px; border-radius: 50%!important }
        
    </style>

</head>

<body>

    <header>
      <% include templates/header %>
    </header>

    <main>
        <div class="col-sm-12 en-medio">
          <div class="text-center">
            <div class="row">
                <div class="col-sm-6 offset-3"> 
                    <div class="contenido-perfil-alu" id="contenido-perfil">
                        <img src="img/uploads/<%=user.id%>.jpg" class="img-circle" onerror="this.src='https://avatars.io/gravatar/'<%= user.usuario.username %>/140'"><br>
                        <br>
                        <strong>Nombre</strong>: <%= user.usuario.username %><br><br><br>
                        <strong>Categoría:</strong>: Alumno<br><br><br>
                        <strong>Cambiar imagen de perfil:</strong>
                        <br>
                        <% if ( expressFlash.length > 0 ) { %>
                            <p><strong><%= expressFlash %></strong></p>
                        <% } %>
                         <form id="uploadForm" enctype="multipart/form-data" action="/home" method="post">
        		            <br>
        		            <input type="file" style="display:none;" name="userFile" id="enviar-foto"/>
        		            <input type="button" value="Seleccionar imagen" onclick="document.getElementById('enviar-foto').click();" />
        		            <br>
        		            <br>
        		            <input type="submit" value="Subir archivo" name="submit" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
        	             </form>
                    </div>
                </div>
                
            </div>
          </div>
        </div>
    </main>

<!--Footer-->

<footer class="page-footer center-on-small-only">
  <% include templates/footer %>
</footer>

<!--/.Footer-->

  <!-- SCRIPTS -->
  <% include templates/scripts %>
  <!-- /.SCRIPTS -->

</body>
</html>
