<!-- <footer> -->

<div class="container-fluid text-dark">
  <div class="row">
    <!--First column-->
    <div class="col-xs-6 col-sm-4">
      <h5 class="title text-center">Autores</h5>
      <ul class="text-center">
        <li>
          <a href="https://ivan-ga.github.io/">Iván González Aguiar</a>
        </li>
        <li>
          <a href="https://alu0100813272.github.io/">Jairo González Lemus</a>
        </li>
        <li>
          <a href="https://alu0100851236.github.io/">David Dorta Acosta</a>
        </li>
      <ul>
    </div>
    <!--/.First column-->

    <!--Second column-->
    <div class="col-xs-6 col-sm-4">
      <h5 class="title text-center">Tecnologias Utilizadas</h5>
      <ul class="text-center">
        <li>
          <a href="#!">HTML</a>
        </li>
        <li>
          <a href="#!">CSS</a>
        </li>
        <li>
          <a href="#!">Javascript</a>
        </li>
        <li>
          <a href="#!">MongoDB</a>
        </li>
        <li>
          <a href="#!">Express</a>
        </li>
        <li>
          <a href="#!">AngularJS</a>
        </li>
        <li>
          <a href="#!">Autentificacion con Passport</a>
        </li>
      </ul>
    </div>
    <!--/.second column-->

    <!--Third column-->
    <div class="col-xs-6 col-sm-4">
      <h5 class="title text-center">Contactar</h5>
      <ul class="text-center">
        <li>
          <a href="https://www.facebook.com/profile.php?id=100016783155465">Facebook</a>
        </li>
      </ul>
    </div>
    <!--/.Third column-->
  </div>
</div>

<!--Copyright-->
<div class="footer-copyright">
  <div class="containter-fluid text-dark">
    © 2018 Copyright: <a href=""> Challenge<strong class="text-red">&</strong>Play </a>
  </div>
</div>
<!-- </footer> -->
