<!-- <footer> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid text-dark">
  <div class="row">
    <!--First column-->
    <div class="col-xs-6 col-sm-6">
        <div class="text-center">
          <a href="https://ivan-ga.github.io/">Iván González Aguiar</a>
          <a href="https://alu0100813272.github.io/">- Jairo González Lemus</a>
          <a href="https://alu0100851236.github.io/">- David Dorta Acosta</a>
        </div>
    </div>
    <!--/.First column-->

    <!--Second column-->
    <div class="col-xs-6 col-sm-6">
      <ul class="text-center">
        <li>
          <a href="https://challengeandplay.wordpress.com"><i class="fa fa-wordpress" style="font-size:25px"></i> Wordpress</a>
        </li>
      </ul>
    </div>
    <!--/.second column-->
  </div>
</div>

<!--Copyright-->
<div class="footer-copyright">
  <div class="containter-fluid text-dark">
    © 2018 Copyright: <a href=""> Challenge<strong class="text-red">&</strong>Play </a>
  </div>
</div>
<!-- </footer> -->
