<!-- <header> -->

<!-- Navbar -->
<nav class="navbar navbar-toggleable-md navbar-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="text-dark" href="/home">Challenge<strong class="text-red">&</strong>Play</a>

    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/games">Juegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/rankings">Rankings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/logout">Cerrar</a>
        </li>
      </ul>
    </div>
    <div class="navbar-brand text-dark">
      Bienvenido <%= user.local.username %>
    </div>
</nav>
<!-- </Navbar> -->
<!-- </header> -->
